<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="RabbitMqHostName" value="localhost"/>
      <add key="RabbitMqConsumingExchangeName" value="commandHub.develop"/>
      <add key="RabbitMqConsumingExchangeType" value="topic"/>  <!--fanout / direct / topic-->
      <add key="RabbitMqConsumingRoutingKey" value="upload.winscp"/>

      <add key="RabbitMqPublishingExchangeName" value="reportHub.develop"/>
    </appSettings>
</configuration>