<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>

    <add key="RabbitMQ.HostName" value="localhost"/>
    <add key="RabbitMQ.Consuming.Exchange.Name" value="reportHub.develop"/>
    <add key="RabbitMQ.Consuming.Exchange.Type" value="topic"/>  <!--fanout / direct / topic-->
    <add key="RabbitMQ.Consuming.RoutingKey.General" value="upload.#"/>
    <add key="RabbitMQ.Consuming.RoutingKey.Success" value="upload.success"/>
    <add key="RabbitMQ.Consuming.RoutingKey.Fail" value="upload.fail"/>

    <add key="RabbitMQ.Publishing.Exchange.Name" value="commandHub.develop"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
